@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin basic-font {
  font-family: "RobotoCondensed", "Arial", sans-serif;
}

@mixin add-font {
  font-family: "PT Mono", "Arial", serif;
}
