.page-header {
  padding: 33px 35px 0;
  position: relative;
  min-height: 878px;
  margin-bottom: 109px;
  background-color: $dark-grey;
  background-image: url("../img/chip.png"), url("../img/bg-header-desktop.jpg");
  background-repeat: no-repeat;
  background-position: top 258px right 14%, center top;
  background-size: 37%, cover;
  z-index: 0;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/chip@2x.png"), url("../img/bg-header-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    padding: 20px 25px 0;
    min-height: 685px;
    margin-bottom: 54px;
    background-image: url("../img/chip-tablet.png"), url("../img/bg-header-tablet.jpg");
    background-repeat: no-repeat;
    background-position: top 113px right 0, center top;
    background-size: 260px, cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/chip-tablet@2x.png"), url("../img/bg-header-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    padding: 17px;
    min-height: 647px;
    margin-bottom: 37px;
    background-image: url("../img/chip-mobile.png"), url("../img/bg-header-mobile.jpg");
    background-position: top 92px right, center top;
    background-size: 294px, cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/chip-mobile@2x.png"), url("../img/bg-header-mobile@2x.jpg");
    }
  }
}

.page-header__container {
  max-width: 1495px;
  margin: 0 auto;
}

.page-header__nav {
  max-width: 1410px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 170px;

  @media (max-width: $tablet-width) {
    margin-bottom: 110px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 230px;
  }
}

.page-header__contacts {
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width) {
    align-items: flex-start;
  }
}

.page-header__contacts-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 88px;
  row-gap: 20px;

  @media (max-width: $tablet-width) {
    column-gap: 57px;
    row-gap: 0;
  }

  @media (max-width: $mobile-width) {
    column-gap: 45px;
  }
}

.page-header__contacts-item {
  position: relative;
}

.page-header__contacts-link {
  font-family: "PT-Mono", "Arial", sans-serif;
  line-height: 18px;
  color: $basic-white;
  text-decoration: none;
  display: inline-block;
  padding-left: 45px;

  @media (max-width: $tablet-width) {
    font-size: 0;
    padding-left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $tablet-width) {
      width: 24px;
      height: 24px;
      left: auto;
      right: 0;
    }
  }

  &--email {
    &::before {
      background-image: url("../img/icon-email.svg");

      @media (max-width: $tablet-width) {
        width: 26px;
        background-size: 24px 19px;
      }
    }
  }

  &--phone {
    &::before {
      background-image: url("../img/icon-phone.svg");

      @media (max-width: $tablet-width) {
        background-size: 24px 24px;
      }
    }
  }
}

.page-header__button {
  min-width: 180px;
  min-height: 45px;
  border: 1px solid $basic-white;
  font-size: 14px;
  line-height: 16px;
  margin-left: 38px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo {
  width: 52px;
  height: 52px;
  background: url("../img/icon-logo.svg") no-repeat center / contain;

  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
    margin-right: auto;
  }

  p {
    @include basic-font;
    margin: 0;
    margin-left: 65px;
    display: inline-block;
    width: 200px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: $basic-white;
    padding-top: 5px;

    @media (max-width: $tablet-width) {
      margin-left: 68px;
    }

    @media (max-width: $mobile-width) {
      font-size: 0;
    }

    &:nth-child(2) {
      font: 500 12px/14px "Roboto", "Arial", sans-serif;
      color: #788891;
      padding: 0;

      @media (max-width: $mobile-width) {
        font-size: 0;
      }
    }
  }
}
