.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 112px;
}

.social__link {
  display: flex;
  position: relative;
  width: 27px;
  height: 27px;
  background: no-repeat center;

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--odnoklassniki {
    background-image: url("../img/icon-ok.svg");
  }

  &--vkontakte {
    background-image: url("../img/icon-vk.svg");
  }
}
